/* core */
section.vico_wrapper {
    overflow: hidden;
    z-index: 2;
}
.vico {
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.vi_stage {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.vi_image_item {
    position: absolute;
    top: 0;
    z-index: 1;
}
.vi_image_item.active {
    z-index: 10;
    animation: show .3s forwards linear, zoom 20s forwards linear;
}

@keyframes show {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(1.4)
    }
}



.vi_content {
    position: relative;
    z-index: 2;
}
.vi_item {
    position: relative;
    min-height: 135vh;
}
.vi_item_inner {
    position: absolute;
    bottom: 25%;
    left: 10%;
    width: 500px;
    background: rgba(255, 255, 255, .9);
    padding: 25px 30px 0;
}







/* style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  rgba(112, 104, 151, 1);
    background:  rgba(235, 207, 196, .8);
}
h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(112, 104, 151, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(231, 23, 23, .2);
}
p {
    margin-bottom: 30px;
}
section {
    background: rgba(255, 255, 255, 1);
    padding: 40px 0 10px;
    position: relative;
    z-index: 3;
}
section:last-of-type {
    margin-bottom: 0;
}
img {
    width: 100%;
    height: auto;
}
section.vico {
    background: transparent;
    
}
.button_wrapper {
    position: fixed;
    z-index: 99999;
    top: 0; 
    left: 0;
}
button {
    margin-right: 10px;
    padding: 10px; 
    background: #163e5d;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #ed4766;
}