/* core */
.vico {
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.vi_stage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.vi_image_item {
    width: inherit;
    height: inherit; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.vi_image_item:nth-child(1) {
    
}
.vi_image_item:nth-child(2) {
    display: none;
}


.vi_content {
    position: relative;
    z-index: 2;
}
.vi_item {
    position: relative;
    min-height: 150vh;
}
.vi_item_inner {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 500px;
    background: rgba(255, 255, 255, .9);
    padding: 30px;
}




/* style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  rgba(112, 104, 151, 1);
    background:  rgba(235, 207, 196, .8);
}
h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(112, 104, 151, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
p {
    margin-bottom: 30px;
}
section {
    background: rgba(255, 243, 226, 1);
    padding: 40px 0 10px;
    position: relative;
    z-index: 300;
}
section:last-of-type {
    margin-bottom: 0;
}
img {
    width: 100%;
    height: auto;
}
section.vico {
    background: transparent;
    
}