/* core */
.vico {
    position: relative;
    overflow: hidden;
    z-index: 10;
}
.vi_stage {
    position: fixed;
    top: 0;
    left: calc(50% - 500px);
    width: 1000px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vi_image_item {
    position: absolute;
    top: 0;
    z-index: 1;
}
.vi_image_item.active {
    z-index: 10;
    animation: show .15s forwards, zoom 30s forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}
@keyframes zoom {
    from {
        transform: scale(1);
    }
  
    to {
        transform: scale(1.3)
    }
}



.vi_content {
    position: relative;
    z-index: 2;
}
.vi_item {
    position: relative;
    min-height: 170vh;
}
.vi_item_inner {
    position: absolute;
    bottom: 25%;
    left: 10%;
    width: 500px;
    background: rgba(255, 255, 255, .9);
    padding: 25px 30px 0;
}







/* style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color:  rgba(112, 104, 151, 1);
    background:  rgba(235, 207, 196, .8);
}
h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(112, 104, 151, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
p {
    margin-bottom: 30px;
}
section {
    background: rgba(255, 255, 255, 1);
    padding: 40px 0 10px;
    position: relative;
    z-index: 300;
}
section:last-of-type {
    margin-bottom: 0;
}
img {
    width: 100%;
    height: auto;
}
section.vico {
    background: transparent;
    
}